{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
    <div class="col-9">
        <div class="d-flex gap-3 text-center align-items-center mt-3">
            <h1>Log In</h1>
        </div>
        <form class="m-5">
            <div class="row mb-3">
                <label for="inputLogin3" class="col-sm-2 col-form-label">Login</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputLogin3">

                </div>
            </div>

            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label  is-invalid">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control  is-invalid" id="inputPassword3">
                    <div class="invalid-feedback">
                        Incorrect password
                    </div>
                    <button type="submit" class="btn btn-primary mt-3" style=" background-color: grey">Log in!</button>
                    <a class="btn btn-secondary mt-3 ms-3" href="{% url "signup" %}" style="background-color: #81d4fa">create
                        new account</a>
                </div>
            </div>

        </form>
    </div>
{% endblock %}

