{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

    <div class="col-9">
        <hr class="border border-primary border-3 opacity-75">
        <div class="card mb-3 p-3 question" data-QuestionId="{{ question.id }}">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex justify-content-center"><img src="{{ question.profile.avatar.url }}"
                                                                    class="img-fluid " alt="..."
                                                                    style="max-width: 200px"></div>
                    <div class="ms-2 mt-3">{% include "component/rating_bar.html" with item=question %}</div>
                </div>
                <div class="col-md-8 d-flex justify-content-between align-items-center">
                    <div class="card-body">
                        <h5 class="card-title">{{ question.title }}</h5>
                        <p class="card-text">{{ question.text }}</p>
                        <div class="row">
                            <div class="col">
                                <p class="mt-1 fw-bold">Tags</p>
                                {% for tag in question.tags.all %}
                                    <a class="btn btn-sm btn-outline-info m-1"
                                       href="{% url "tag" tag.id %}">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="border border-primary border-3 opacity-75">
        {% for answer in answers %}
            {% include 'component/answer.html' with item=answer %}
        {% endfor %}

        {% include 'component/paginator.html' with item=answers %}

        <hr class="border border-primary border-3 opacity-75">
        {% if request.user.is_authenticated %}
        <form method="post">

            {% include "component/form.html" %}
            <div class="d-flex justify-content-center"> <button type="submit" class="btn btn-primary mb-5 align-self-center" style="background-color: #006b1b">Aswer</button></div>
        </form>
        {% else %}
            {% csrf_token %}
            <div class="alert alert-danger md-2">You don't auth, please log in to write answer</div>
        {% endif %}
    </div>
    <script src="{% static "js/like_ajax.js" %}"></script>
    <script >
        init("Answer");
        init("Question");
    </script>
{% endblock %}


