{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="col-9">
        <div class="d-flex gap-3 text-center align-items-center mt-3">
            <h1>Settings: {{ request.user.username }}</h1>
        </div>
        <form class="m-5" method="post" enctype="multipart/form-data">
            {% include "component/form.html" %}
{#            <img class="picture border border-dark" alt="avatar"#}
{#                 style="min-height: 70px; max-height: 120px; min-width: 70px; max-width: 120px">#}
            <button type="submit" class="btn btn-primary mt-3" style=" background-color: grey">Save</button>
        </form>
    </div>
{% endblock %}