{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
    <div class="col-9">
        <div class="d-flex gap-3 text-center align-items-center mt-3">
            <h1>Tag: {{ curr_tag }}</h1>
        </div>
        {% for question in questions %}

            {% include "component/question.html" with item=question %}

        {% endfor %}
        {% include "component/paginator.html" with item=questions %}
    </div>
    <script src="{% static "js/like_ajax.js" %}">init("Question")</script>
{% endblock %}

