{% load static %}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if item.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ item.previous_page_number }}">previous</a>
            </li>
        {% endif %}
        <li class="page-item">
            <div class="page-link">
                Page {{ item.number }} of {{ item.paginator.num_pages }}
            </div>
        </li>
        {% if item.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ item.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ item.paginator.num_pages }}">last &raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>


